.App {
  height: 100%;
  display: flex;
  width: 100%;
}
.chat {
  width: 40vw;
}
.buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.button {
  border: 1px solid #000;
  font-size: 5vh;
  flex: 1;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}